annotated-types==0.7.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.2.0
dotenv==0.9.9
grafana-client==4.3.2
h11==0.14.0
idna==3.10
jh2==5.0.8
niquests==3.14.0
pydantic==2.11.2
pydantic_core==2.33.1
python-dotenv==1.1.0
qh3==1.4.2
requests==2.32.3
typing-inspection==0.4.0
typing_extensions==4.13.1
urllib3==2.3.0
urllib3-future==2.12.915
verlib2==0.3.1
wassima==1.2.2
